<style>
  .alert{
      display: none;
  }
  .myAlert-top{

  top: 2px; 
 
  width: 100%;
}
.myAlert-tops{

top: 2px; 

width: 100%;
}
</style>
<div class="content">

   `<div class="btn-group float-right" role="group" >
	    <a href="" id="metricsbtn" class="btn btn-sm btn-primary float-right rmiBtn">
		    <i class="far fa-chart-bar" style="
			        padding-right: 5px;
				"></i>
 	    Metrics
	    </a>
	  
        <a href=""  id="addNewScenario" type="button" onclick="myAlertTop()" class="btn btn-sm btn-primary rmiBtn" data-toggle="modal" data-target="#myModal" style="
	           padding-right: 10px;
	   "	   >
		<i class="far fa-plus-square" style="
			    padding-right: 5px;
			    "></i>
	      	Add Scenario </a>
        <a href="" id="saveScenario"  type="button"   onclick="myAlertTops()"  class="btn btn-sm btn-primary float-right rmiBtn" data-toggle="modal" data-target="#myModal" style="
		    padding-right: 8px;">
		<i class="far fa-save" style="padding-right: 5px;"></i>Save Scenario </a>
    </div>

 
<div class="myAlert-top alert alert-success">
   
    Adding new scenario
  </div>
<div class="myAlert-tops alert alert-success">
         Saving the scenario
	</div>
  <h4 class="pl-2 pt-1 rmiLabel">Adjust Financial Model Drivers</h4>
  
    <div class=" row">
     
      <div class=" col-lg-4">
        <div class=" card card-chart">
          <!-- <div class=" card-header">
            <h4 class=" card-title">Revenue Growth</h4>  
          </div> -->
          <div class=" card-body">
               <div class=" chart-area" #revenuegrowth> </div> 
             
          </div>
        </div>
      </div>
      <div class=" col-lg-4">
          <div class=" card card-chart">
            <!-- <div class=" card-header">
              <h4 class=" card-title">COGS</h4>  
            </div> -->
            <div class=" card-body ">
                <div class=" chart-area" #cogs></div> 
               
            </div>
          </div>
        </div>
      <div class=" col-lg-4">
            <div class=" card card-chart">
              <!-- <div class=" card-header">
                <h4 class=" card-title">SG&A</h4>  
              </div> -->
              <div class=" card-body">
                  <div class=" chart-area" #SG&A></div>  
                  
              </div>
            </div>
          </div>
          <div class=" col-lg-4">
              <div class=" card card-chart">
                <!-- <div class=" card-header">
                  <h4 class=" card-title">D&A</h4>  
                </div> -->
                <div class=" card-body" >
                 <div class=" chart-area" #D&A></div>  
                </div>
              </div>
            </div>
             <div class=" col-lg-4">
                <div class=" card card-chart">
                  <!-- <div class=" card-header">
                    <h4 class=" card-title">Other Income/Expense</h4>  
                  </div> -->
                  <div class=" card-body">
                      <div class=" chart-area" #otheincome></div>  
                      
                  </div>
                </div>
              </div>
            <div class=" col-lg-4">
                  <div class=" card card-chart">
                    <!-- <div class=" card-header">
                      <h4 class=" card-title">Net Interest Expense</h4>  
                    </div> -->
                    <div class=" card-body" >
                       <div class=" chart-area" #netie></div> 
                        
                    </div>
                  </div>
                </div>
              </div>
              <h4 class="pl-2 pt-1">Annual Projections</h4>
                <div class=" row">

                

                   <div class=" col-lg-4">
                    <div class=" card card-chart">
                      <!-- <div class=" card-header">
                        <h4 class=" card-title">Revenue Growth</h4>  
                      </div> -->
                      <div class=" card-body">
                         <div class=" chart-area" #projectionOne> </div>
                      </div>
                    </div>
                  </div>
                  <div class=" col-lg-4">
                      <div class=" card card-chart">
                        <!-- <div class=" card-header">
                          <h4 class=" card-title">COGS</h4>  
                        </div> -->
                        <div class=" card-body">
                             <div class=" chart-area" #projectionTwo> </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-lg-4">
                        <div class=" card card-chart">
                          <!-- <div class=" card-header">
                            <h4 class=" card-title">SG&A</h4>  
                          </div> -->
                          <div class=" card-body">
                              <div class=" chart-area" #projectionThree> </div> 
                          </div>
                        </div>
                      </div>
                      <div class=" col-lg-4">
                          <div class=" card card-chart">
                            <!-- <div class=" card-header">
                              <h4 class=" card-title">D&A</h4>  
                            </div> -->
                            <div class=" card-body" >
                               <div class=" chart-area" #projectionFour> </div> 
                            </div>
                          </div>
                        </div>
                        <div class=" col-lg-4">
                            <div class=" card card-chart">
                              <!-- <div class=" card-header">
                                <h4 class=" card-title">Other Income/Expense</h4>  
                              </div> -->
                              <div class=" card-body">
                                <div class=" chart-area" #projectionFive> </div>
                              </div>
                            </div>
                          </div>
                          <div class=" col-lg-4">
                              <div class=" card card-chart">
                                <!-- <div class=" card-header">
                                  <h4 class=" card-title">Net Interest Expense</h4>  
                                </div> -->
                                <div class=" card-body" >
                                    <div class=" chart-area" #projectionSix> </div>  
                                </div>
                              </div>
                            </div>

  
    </div>
  
  </div>
  
