
<div class="sidebar-wrapper">
 

          <ul class="nav-dropdown-items nav">
          <li class="nav-item">

		  <li class="nav-item">
			          <a class="nav-link " id="addComBTN" routerLinkActive="active" [routerLink]="['/addcompany']">
					            <i class="fa fa-upload" style="margin-top:15px"></i>
						              <h5 class="ml-4 mt-4">Add Company</h5>
			        </a>
				      </li>

            <li class="nav-item">
              <a class="nav-link " routerLinkActive="active" 
                [routerLink]="['/statement']">
                <i  class="tim-icons icon-paper"></i> <h5 class="ml-4 mt-1">My Companies</h5></a>
                 </li>
      

    <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" 
           [routerLink]="['/pl']">
           <i class="fa fa-clipboard" ></i> <h5 class="mt-1">Credit Scorecard</h5></a>
              </li>


        
                 <li class="nav-item">
            <a class="nav-link nav-dropdown-toggle" routerLinkActive="active" 
           [routerLink]="['/dashboard']">
           <i class="fas fa-desktop" ></i> <h5 class="mt-1">Financial Dashboard</h5></a>
              </li>







              <li class="nav-item">
		  <div class="accordion" id="accordionExample">
            <!--    <a class="nav-link " routerLinkActive="active"--> 
		<a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true">
				
              <!--    [routerLink]="['/kpi']"-->
	      <i  class="fas fa-list" style="padding-left:20px"></i> <h5 class="pl-2 pt-2">KPIs</h5>
 <span class="ml-3 mt-2"></span></a>
  <div id="collapsethree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

		<li> <a class="nav-link pb-0" routerLinkActive="active" 
                      [routerLink]="['/incomekpi']">
                     <h5 class="pl-5">Income Statement</h5></a></li>

		   <li> <a class="nav-link pb-0" routerLinkActive="active" 
                      [routerLink]="['/kpi']">
                     <h5 class="pl-5">Balance Sheet</h5></a></li>
</div>
</div>
                  
                   </li>


           <!-- Group -->

          <li class="nav-item">
              <div class="accordion" id="accordionExample">
              
                    <a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                        <i class="tim-icons icon-chart-pie-36 pl-3"> </i>  <h5 class="pl-2 pt-2">Budgeting</h5>
                      <span class="ml-3 mt-2"></span></a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  
                    <li> <a class="nav-link pb-0" routerLinkActive="active" 
                      [routerLink]="['/AdjustAssumption']">
                     <h5 class="pl-5">AdjustAssumption</h5></a></li>
                    <li> <a class="nav-link  pb-0" routerLinkActive="active" 
                      [routerLink]="['/Actuals']">
                    <h5 class="pl-5">Actuals</h5></a></li>
                    <li> <a class="nav-link" routerLinkActive="active" 
                      [routerLink]="['/TargetvActual']">
                    <h5 class="pl-5">Target v/s Actuals</h5></a></li>
                  
                </div>
              </div>
            </li>




<!--		<li class="nav-item">
			              <div class="accordion" id="accordionExample">

	<a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapseOe" aria-expanded="true">
	<i class="tim-icons icon-chart-pie-36 pl-3"> </i>  <h5 class="pl-2 pt-2">Scenario Analysis</h5>
	<span class="ml-2 mt-2"></span></a>
	<div id="collapseOe" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

	<a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true">
			<i class="tim-icons icon-chart-pie-36 pl-3"></i><h5 class="pl-3">Income Statement</h5></a>
		<span class="ml-2 mt-2"></span>
	</div>
		<div id="collapsefour" class="collapse" aria-labledby="headingOne" data-parent="#accordionExample">
			<a class="nav-link pb-0" routerLinkActive="active"
				[routerLink]="['/']">
					<h5 class="pl-5">Scenario1</h5></a>
			</div>		
	<div id="collapseOe" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">

         <a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true">
                        <i class="tim-icons icon-chart-pie-36 pl-3"></i><h5 class="pl-3">Balance Sheet</h5></a>
	  <span class="ml-3 mt-2"></span>
	</div>
                <div id="collapsefive" class="collapse" aria-labledby="headingOne" data-parent="#accordionExample">
                        <a class="nav-link pb-0" routerLinkActive="active"
                                [routerLink]="['/']">
                                        <h5 class="pl-5">Scenario1</h5></a>
                
		</div>
	</div>
</li>-->
	  
            <li class="nav-item">
              <div class="accordion" id="accordionExample">
                <a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true">
                    <i class="tim-icons icon-coins pl-3"></i>  <h5 class="pl-2 pt-2">Scenario Analysis</h5>
                  <span class="ml-3 mt-2"></span></a>
		
		<div id="collapsesix"  class="collapse" aria-lablledby="headingTwo" data-parent="#accordionExample"> 
			<div class="accordion" id-="accordionExample">
				<a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true">

								<h5 class="pl-5 pt-2" style="
								    margin-left: 12px;
								    ">Income Statement</h5>
								<span class="ml-3 mt-2"></span></a>
			</div>				
		<div id="collapseseven" class="collapse" aria-labledby="headingOne" data-parent="#accordionExample">
		
                      <li id="scenario1" style="display: none;"> <a id="scenarioa1" href="" class="nav-link pb-0" 
                       >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 1</h5></a></li>
                       <li id="scenario2" style="display: none;"> <a id="scenarioa2" href="" class="nav-link pb-0" 
                        >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 2</h5></a></li>
                       <li id="scenario3" style="display: none;"> <a id="scenarioa3" href="" class="nav-link pb-0"
                      >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 3</h5></a></li>
                       <li id="scenario4" style="display: none;"> <a id="scenarioa4" href="" class="nav-link pb-0"
                        >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 4</h5></a></li>
                       <li id="scenario5" style="display: none;"> <a id="scenarioa5" href="" class="nav-link pb-0"
                        >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 5</h5></a></li>
                       <li id="scenario6" style="display: none;"> <a id="scenarioa6" href="" class="nav-link pb-0"
                        >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 6</h5></a></li>
                       <li id="scenario7" style="display: none;"> <a id="scenarioa7" href="" class="nav-link pb-0"
                        >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 7</h5></a></li>
                       <li id="scenario8" style="display: none;"> <a id="scenarioa8" href="" class="nav-link pb-0"
                        >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 8</h5></a></li>
                  </div>

			 <a class="btn btn-link d-flex" data-toggle="collapse" data-target="#collapseeight" aria-expanded="true">

                                                                <h5 class="pl-5 pt-2" style="
                                                                    margin-left: 12px;
                                                                    ">Balance Sheet</h5>
                                                                <span class="ml-3 mt-2"></span></a>
                        
                <div id="collapseeight" class="collapse" aria-labledby="headingOne" data-parent="#accordionExample">

		 <li id="scenarioi1" style="display: none;"> <a id="scenariob1" href="" class="nav-link pb-0" 
                       >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 1</h5></a></li>
                       <li id="scenarioi2" style="display: none;"> <a id="scenariob2" href="" class="nav-link pb-0" 
                        >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 2</h5></a></li>
                       <li id="scenarioi3" style="display: none;"> <a id="scenariob3" href="" class="nav-link pb-0"
                      >
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 3</h5></a></li>
                       <li id="scenarioi4" style="display: none;"> <a id="scenariob4" href="" class="nav-link pb-0">
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 4</h5></a></li>
                       <li id="scenarioi5" style="display: none;"> <a id="scenariob5" href="" class="nav-link pb-0">
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 5</h5></a></li>
                       <li id="scenarioi6" style="display: none;"> <a id="scenariob6" href="" class="nav-link pb-0">
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 6</h5></a></li>
                       <li id="scenarioi7" style="display: none;"> <a id="scenariob7" href="" class="nav-link pb-0">
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 7</h5></a></li>
                       <li id="scenarioi8" style="display: none;"> <a id="scenariob8" href="" class="nav-link pb-0">
                       <h5 class="pl-5" style="margin-left: 10px;">Scenario 8</h5></a></li>
                  </div> 
	


		</div>
                  <!-- <li class="nav-item">
                      <a class="nav-link " routerLinkActive="active" 
                        [routerLink]="['/login']">
                        <i  class="tim-icons icon-paper" ></i> <h5 class="ml-4 mt-1">Login</h5></a>
                         </li> -->
                         
                            <!-- <li class="nav-item"><a href="#" class="nav-link " id="scenario1" style="display:none"> Scenario One</a></li>
                      <li><a href="/finan" id="scenario2" style="display:none"> Scenario Two</a><:/li>
                      <li><a href="/finan" id="scenario3" style="display:none"> Scenario Three</a></li>
                      <li><a href="/finan" id="scenario4" style="display:none"> Scenario Four</a></li> -->
                          
		      

			              
					  	
            </div>
          </li>
        

       
         </ul>
        
     </div>
