<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Nike Metrics</h4>
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <tr style="color:black;">
                  
                </tr>
				<tr>
				<td></td>
				<td>2016</td>
				<td>2017</td>
				<td>2018</td>
				<td>2019</td>
				<td>2020</td>
				<td>2021</td>
				</tr>
 <tr>
      <td>Total Revenue</td>
      <td>$32,376,000</td>
	  <td>$34,350,000</td>
	  <td>$36,397,000</td>
	  <td>$38,580,820</td>	
	  <td>$40,895,669</td>
	  <td>$43,349,409</td> 	
	  <td>$45,950,374 </td>
    </tr>
    <tr>
	
      <td>Y-O-Y Growth %</td>
      <td></td>
	  <td>6.1% 	</td>
	  <td>6.0% </td>
	  <td>6.0% </td>	
	  <td>6.0% </td>
	  <td>6.0% </td> 	
	  <td>6.0% </td>
    </tr>
   <tr>
	
      <td>(–) Cost of Goods Sold ("COGS")</td>
      <td> 17,405,000 </td>
	  <td>19,038,000</td>
	  <td>20,441,000</td>
	  <td>21,605,259 </td>
	  <td>22,901,575 </td>
	  <td>24,275,669 </td>
	  <td>25,732,209 </td>
    </tr>
   <tr>
	
      <td> Gross Profit</td>
      <td>$14,971,000 </td>
	  <td>$15,312,000</td>
	  <td>$15,956,000</td>
	  <td>$16,975,561</td>
	  <td>$17,994,094</td>
	  <td>$19,073,740</td>
	  <td>$20,218,165 </td>
    </tr>
   <tr>
	
      <td>Gross Margin</td>
      <td>46.2%</td>
	  <td>44.6%</td>
	  <td>43.8%</td>
	  <td>44.0%</td>
	  <td>44.0%</td>
	  <td>44.0%</td>
	  <td>44.0% </td>
    </tr>
   <tr>
	
      <td>(–) SG&A</td>
      <td>10,469,000</td>
	  <td>10,563,000</td>
	  <td>11,511,000</td>
	  <td>12,345,862</td>
	  <td>13,086,614</td>
	  <td>13,871,811</td>
	  <td>14,704,120 </td>
    </tr>
   <tr>
	
      <td>EBIT</td>
      <td>$4,502,000</td>
	  <td>$4,749,000</td>
	  <td>$4,445,000</td>
	  <td>$4,629,699</td>
	  <td>$4,907,480</td>
	  <td>$5,201,929</td>
	  <td>$5,514,045 </td>
    </tr>
   <tr>
	  <td>EBIT Margin</td>
      <td>13.9%</td>
	  <td>13.8%</td>
	  <td>12.2%</td>
	  <td>12.0%</td>
	  <td>12.0%</td>
	  <td>12.0%</td>
	  <td>12.0%</td>
    </tr>
	<tr>
	
      <td>(+) D&A</td>
      <td> 649,000</td>
	  <td>706,000</td>
	  <td>747,000</td>
	  <td>771,616</td>
	  <td>817,913</td>
	  <td>866,988</td>
	  <td>919,007 </td>
    </tr>
	<tr>
	
      <td> EBITDA</td>
      <td>$5,151,000 </td>
	  <td>$5,455,000 </td>
	  <td>$5,192,000</td>
	  <td>$5,401,315</td>
	  <td>$5,725,393</td>
	  <td>$6,068,917 </td>
	  <td>$6,433,052 </td>
    </tr>
	<tr>
	
      <td> EBITDA Margin</td>
      <td>15.9%</td>
	  <td>15.9%</td>
	  <td>14.3%</td>
	  <td>14.0%</td>
	  <td>14.0%</td>
	  <td>14.0%</td>
	  <td>14.0%</td>
    </tr>
	<tr>
	
      <td> EBIT</td>
      <td>$4,502,000</td>
	  <td>$4,749,000</td>
	  <td>$4,445,000</td>
	  <td>$4,629,699</td>
	  <td>$4,907,480</td>
	  <td>$5,201,929</td>
	  <td>$5,514,045 </td>
    </tr>
	<tr>
	
      <td> (–) Net Interest Expense</td>
      <td>0</td>
	  <td>0</td>
	  <td>120,000</td>
	  <td>120,000</td>
	  <td>120,000</td>
	  <td>120,000</td>
	  <td>120,000 </td>
    </tr>
	
	<tr>
	
      <td>(–/+) Other (Income) / Expense</td>
      <td>(121,000)</td>
	  <td>(137,000)</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0</td>
	  <td>0 </td>
    </tr>
	<tr>
	
      <td>EBT</td>
      <td>$4,623,000</td>
	  <td>$4,886,000</td>
	  <td>$4,325,000</td>
	  <td>$4,509,699</td>
	  <td>$4,787,480</td>
	  <td>$5,081,929</td>
	  <td>$5,394,045 </td>
    </tr>
	<tr>
	
      <td> EBT Margin</td>
      <td>14.3%</td>
	  <td>14.2%</td>
	  <td>11.9%</td>
	  <td>11.7%</td>
	  <td>11.7%</td>
	  <td>11.7%</td>
	  <td>11.7% </td>
    </tr>
	<tr>
	
      <td> (–) Taxes</td>
      <td> 863,000</td>
	  <td>646,000</td>
	  <td>2,392,000</td>
	  <td>947,037</td>
	  <td>1,005,371</td>
	  <td>1,067,205</td>
	  <td>1,132,749 </td>
    </tr>
	<tr>
	
      <td> Net Income</td>
      <td>$3,760,000</td>
	  <td>$4,240,000</td>
	  <td>$1,933,000</td>
	  <td>$3,562,662</td>
	  <td>$3,782,109</td>
	  <td>$4,014,724</td>
	  <td>$4,261,296 </td>
    </tr>
	<tr>
	
      <td> Net Income Margin</td>
      <td>11.6%</td>
	  <td>12.3%</td>
	  <td>5.3%</td>
	  <td>9.2%</td>
	  <td>9.2%</td>
	  <td>9.3%</td>
	  <td>9.3% </td>
    </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
