<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Balance Sheet: As Is</h4>
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <tr style="color:black;">
                  
                </tr>
				<tr>
				<td>&nbsp</td>
				<td>2017</td>
				<td>2018</td>
				</tr>
 <tr>
      <td>Current Assets</td>
      <td>&nbsp</td>
	  <td>&nbsp</td>
    </tr>
    <tr>
	
      <td>Cash & Equivalents</td>
      <td>$4,249,000</td>
	  <td>$3,808,000</td>
    </tr>
   <tr>
	
      <td>Short-Term Investments</td>
      <td>996,000</td>
	  <td>2,371,000</td>
    </tr>
   <tr>
	
      <td>Accounts Receivable, Net</td>
      <td>3,498,000</td>
	  <td>3,677,000</td>
    </tr>
   <tr>
	
      <td>Inventories</td>
      <td> 5,261,000</td>
	  <td> 5,055,000</td>
    </tr>
   <tr>
	
      <td>Prepaid Expenses and Other Current Assets</td>
      <td>1,130,000</td>
	  <td>1,150,000</td>
    </tr>
   <tr style="bold">
	
      <td > 1,150,000 </td>
      <td>$15,134,000 </td>
    </tr>
   <tr>
	  <td>Property, Plant, & Equipment (PP&E)</td>
      <td> 4,454,000 </td>
	  <td> 3,989,000 </td>
    </tr>
	<tr>
	
      <td>Identifiable Intangible Assets, Net</td>
      <td>  285,000 </td>
      <td> 283,000 </td>
    </tr>
	<tr>
	
      <td> Goodwill</td>
      <td> 154,000 </td>
	  <td> 139,000  </td>
    </tr>
	<tr>
	
      <td> Deferred Income Taxes and Other Assets</td>
      <td> 2,509,000 </td>
	  <td> 2,787,000 </td>
    </tr>
	<tr style="bold">
	
      <td> Total Assets</td>
      <td>$22,536,000 </td>
	  <td>$23,259,000 </td>
    </tr>
	<tr>
	
      <td> Current Liabilities</td>
      <td>&nbsp</td>
	  <td>&nbsp</td>
    </tr>
	
	<tr>
	
      <td>Current Portion of Long-Term Debt</td>
      <td>6,000</td>
	  <td>6,000</td>
    </tr>
	<tr>
	
      <td>Notes Payable</td>
      <td> 336,000 </td>
	  <td> 325,000 </td>
    </tr>
	<tr>
	
      <td> Accounts Payable</td>
      <td> 2,279,000 </td>
	  <td> 2,048,000 </td>
    </tr>
	<tr>
	
      <td> Accrued Liabilities</td>
      <td> 3,269,000 </td>
	  <td> 3,011,000 </td>
    </tr>
	<tr>
	
      <td> Income Taxes Payable</td>
      <td> 150,000 </td>
	  <td> 84,000 </td>
	  </tr>
	<tr>
	
      <td> Total Current Liabilities</td>
      <td>$6,040,000 </td>
	  <td>$5,474,000 </td>
    </tr>
	<tr>
	
      <td> Long-Term Debt</td>
      <td> 3,468,000  </td>
	  <td> 3,471,000  </td>
    </tr><tr>
	
      <td> Deferred Income Taxes and Other Liabilities</td>
      <td> 3,216,000  </td>
	  <td> 1,907,000  </td>
    </tr><tr>
	
      <td> Commitments and contingencies (Note 15)</td>
      <td>-</td>
	  <td>-</td>
    </tr><tr>
	
      <td> Redeemable Preferred Stock</td>
      <td>-</td>
	  <td>-</td>
    </tr><tr>
	
      <td> Shareholder's Equity</td>
      <td>-</td>
	  <td>-</td>
    </tr><tr>
	
      <td> Common Stock at Stated Value</td>
      <td>-</td>
	  <td>-</td>
    </tr><tr>
	
      <td>Class A Convertible - 329 and 329 shares outstanding</td>
      <td>-</td>
	  <td>-</td>
    </tr><tr>
	
      <td> Class B - 1,272 and 1,314 shares outstanding</td>
      <td> 3,000 </td>
	  <td> 3,000  </td>
    </tr>
	<tr>
	
      <td> Capital in Excess of Stated Value</td>
      <td> 6,384,000 </td>
	  <td> 5,710,000 </td>
    </tr>
	<tr>
	
      <td> Accumulated Other Comprehensive Loss</td>
      <td>(92,000)</td>
	  <td>(213,000)</td>
    </tr>
	<tr>
	
      <td> Retained Earnings</td>
      <td> 3,517,000  </td>
	  <td> 6,907,000  </td>
    </tr>
	<tr>
	
      <td> Total Shareholders' Equity</td>
      <td> 9,812,000 </td>
	  <td> 12,407,000  </td>
    </tr>
	<tr>
	
      <td> Total Liabilities and Shareholder's Equity</td>
      <td>$22,536,000 </td>
	  <td>$23,259,000 </td>
    </tr>
	
	
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
