<style>



.export{

	background-color: Transparent;
		            background-repeat:no-repeat;
				           border: none;
					cursor:pointer;
														                                            padding-right:25px;
																				 overflow: hidden;
																											                                                                outline:none;
			color:black;
}
</style>




<div class="content">
  <div class=" row">
    <div class=" col-md-12">
	    <span id="companynamedisplay"></span>

 <div class="btn-group float-right" role="group" style="padding-bottom:10px">
<select type="button"  onchange="" class="export" id="sel2" style="padding-top: 0; padding-bottom: 0;" >
	<option>Default</option>
	 </select>
      </div>      
    

      <div class=" card">
        <div class=" card-body">
          <h4>Historical Key Metrics</h4>
            <table class="tables" id="kpiBSActual">
              <tr style="color:black;">
                <th style="font-size:14px;width: 50px;">No</th>
                <th style="font-size:14px;width: 300px;">Balance Sheet </th>
                <th style="font-size:14px;width: 75px;text-align:right;">From</th>
                <th style="font-size:14px;width:100px;text-align:right;">To</th>
                <th style="font-size:14px;width: 250px;padding-right: 190px;text-align:right;">KPI</th>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
<div class=" row">
    <div class=" col-md-12">
      
      <div class=" card">
        <div class=" card-body">
          <h4>Projected Key Metrics</h4>
            <table class=" tables" id="kpiBSProjection">
                <tr style="color:black;">
                  <th style="text-align:left;font-size:14px;width:50px;">No</th>
                  <th style="text-align:left;font-size:14px;width:300px;">Balance Sheet </th>
                  <th style="text-align:right;font-size:14px;width:75px;">From</th>
                  <th style="text-align:right;font-size:14px;width:100px;">To</th>
                  <th style="text-align:right;font-size:14px;width:250px;padding-right:190px;">KPI</th>
                </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
