
<style>
   a, .pagination>li>span { border-radius: 50% !important;margin: 0 10px;} 

  :host {
  font-family: "poppins", poppins, sans-serif;
}

td,th{
  text-align: center;
}
.list {
  max-width: 800px;
  margin: auto;
}

li {
  margin-bottom: 5px;
}


.cover-spin {
	        position:fixed;
			    width:100%;
				        left:0;right:0;top:0;bottom:0;
						    background-color: rgba(255,255,255,0.7);
							        z-index:9999;
									    display:none;
    }

    @-webkit-keyframes spin {
	    	from {-webkit-transform:rotate(0deg);}
			to {-webkit-transform:rotate(360deg);}
    }

    @keyframes spin {
	    	from {transform:rotate(0deg);}
			to {transform:rotate(360deg);}
    }

    .cover-spin::after {
	        content:'';
			    display:block;
				        position:absolute;
						    left:48%;top:40%;
							        width:40px;height:40px;
									    border-style:solid;
										        border-color:black;
												    border-top-color:transparent;
													        border-width: 4px;
															    border-radius:50%;
																        -webkit-animation: spin .8s linear infinite;
																		    animation: spin .8s linear infinite;
    }

</style>
<div class="cover-spin"></div>
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        
        <div class=" card-body">
          <!-- <div class=" table-responsive"> -->
            <table class=" table tablesorter" id="dtBasicExample">
              <thead class=" text-primary">
                <tr style="color:black;text-align:left">
                    <th >No</th>
                  <th> Name</th>
		  <th>Company</th>
                  <th>Industry</th>
                  <th>File Name</th>
                  <th>Created On</th>
		  <th>Created By</th>
                </tr>
              </thead>
            </table>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container d-flex justify-content-center" >
      <ul class="pagination">
                    
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
      </div> -->
</div> 

    
   
