<nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class=" container-fluid pl-0" >
      <div class="logo d-none d-sm-block">
          <a href="https://rmiinsights.com" class="simple-text logo-mini">
            <div class="logo-img" style=" margin-top: -12px;width: 150px">
              <img src="./assets/img/navlogo.png" style="height: 30px;width:150px"/>
            </div>
          </a>
          <a href="https://rmiinsights.com" class="simple-text logo-normal" style="color:white">
         
          </a>
        </div>
    <div class=" navbar-wrapper">
      <div class=" navbar-toggle d-inline">
        <button class=" navbar-toggler" type="button" (click)="sidebarToggle()">
          <span class=" navbar-toggler-bar bar1"> </span>
          <span class=" navbar-toggler-bar bar2"> </span>
          <span class=" navbar-toggler-bar bar3"> </span>
        </button>
      </div>
      <div class="navbar-brand" style="padding-top: 15px;">
      <span style="color:white" style="padding-left: 80px;" > {{ getTitle() }}
          {{ getCompanyName() }}
          
      </span>
    </div>
     
    </div>
   
     
     
    
      
    

   
    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
      
      <ul class=" navbar-nav ml-auto">
       <li class=" nav-link">
        
        <input type="text" class="no-outline" placeholder="My Company" list="companyname" id="compsearch" >
        <datalist id="companyname">
          <option value="Nike">
    
        </datalist>
          </li>
       
         
            
         
  <button type="button" class="btn btn-sm btn-primary float-right rmiBtn" [routerLink]="['/addcompany']" data-toggle="modal" data-target="#myModal" id="modalPopUpId">
    <i class="fas fa-file-upload"></i>   Add Company 
   </button>
  
        <li class=" nav-item" ngbDropdown>

          <a
            class=" nav-link"
            data-toggle="dropdown"
            href="javascript:void(0)"
            ngbDropdownToggle
          >
            <div class=" photo">
              <img alt="Profile Photo" src="assets/img/user.png" />
            </div>
            <b class=" caret d-none d-lg-block d-xl-block"> </b>
            <p class=" d-lg-none">Log out</p>
          </a>
          <ul class=" dropdown-navbar" ngbDropdownMenu>
            <li class=" nav-link">
               <a routerLinkActive="active" ngbDropdownItem
		                    [routerLink]="['/user']">
		                    <i class="fa fa-id-card" aria-hidden="true"></i> Profile</a>
            </li>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
                <i class="fas fa-cog"></i> Settings
              </a>
            </li>
            <li class=" dropdown-divider"></li>
            <li class=" nav-link">
              <a class=" nav-item" href="javascript:void(0)" ngbDropdownItem>
		      <i class="fas fa-sign-out-alt"></i> Log out
              </a>
            </li>
          </ul>
        </li>
        <li class=" separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class=" modal-header">
    <input
      class=" form-control"
      id="inlineFormInputGroup"
      placeholder="SEARCH"
      type="text"
    />

    <button
      aria-label="Close"
      class=" close"
      data-dismiss="modal"
      type="button"
      (click)="modal.dismiss('Cross click')"
    >
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template>
